.about-us {
    width: 100%;
}

.aboutus-section-one {
    width: 100%;
    min-height: 663px;
    background-color: #FF7A00;
}

.ao-head {
    padding-top: 70px;
    padding-bottom: 40px;
}

.ao-head h2 {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.ao-infa-firstline {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}

.ao-infa-secondline {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}

.ao-infa-1 {
    max-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.ao-infa-1 p b {
    color: white;
    font-size: 20px;
}

.ao-infa-1 p {
    color: white;
    font-size: 16px;
    line-height: 19.5px;
}


.ao-sectiontwo-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #FFBD80;
    z-index: 2;
}

.fix {
    position: relative;
    padding: 70px 0;
}

.ao-sectiontwo-2 {
    position: absolute;
    right: 0;
    top: 0;
}

.ao-sectiontwo-2 img {
    max-width: 600px;
}


.ao-sectiontwo-1 {
    width: 70%;
    max-height: 330px;
    margin-left: 150px;
}

.ao-img-oiu {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;

}

.ao-almatyinfa {
    width: 60%;
}

.ao-almatyinfa p b {
    font-size: 50px;
}

.ao-almatyinfa p {
    font-size: 20px;
}

.ao-wrapperthree {
    position: absolute;
    width: 85%;
    display: flex;
    justify-content: flex-start;
}

.ao-sectiontwo-3 {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #FFBD80;
}

.ao-img-oiu-12 {
    margin-top: -5%;
}

.ao-leaf2 {
    position: absolute;
    margin-left: -15%;
}

.review-scrolldown {
    display: flex;
    align-items: center;
    color: #FF7A00;
    cursor: pointer;
}

.review-scrolldown:hover,
.review-scrolldown:hover .profile-icons {
    color: #f9983e;
}

.review-scrolldown p {
    margin: 0;
}



@media (max-width: 1170px) {
    .fix{
        min-height: 500px;
    }

    .ao-sectiontwo-2 {
        display: none;
    }

    .ao-almatyinfa {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 420px;
    }

    .ao-almatyinfa p {
        font-size: 18px;
    }

    .ao-almatyinfa p b {
        font-size: 40px
    }

    .ao-infa-main {
        display: flex;
        align-content: center;
        gap: 5%;
        margin-left: 5%;
    }
}

@media (max-width: 600px) {
    .ao-head h2 {
        font-size: 33px;
        font-weight: 600;
        text-align: center;
        color: white;
    }

    .ao-infa-main {
        display: flex;
        flex-wrap: wrap;
        margin-left: 15%;
    }

    .ao-infa-1 p b {
        color: white;
        font-size: 18px;
    }

    .ao-infa-1 p {
        color: white;
        font-size: 14px;
        line-height: 19.5px;
    }

    .ao-sectiontwo-1 {
        width: 60%;
        max-height: 400px;
        margin-left: 80px;
    }

    .ao-sectiontwo-2 {
        display: none;
    }

    .ao-almatyinfa {
        display: flex;
        flex-direction: column;
        width: 360px;
        margin-left: -20%;
    }

    .ao-img-oiu {
        display: none;
    }

    .ao-almatyinfa p {
        font-size: 16px;
    }

    .ao-almatyinfa p b {
        font-size: 36px
    }

}

@media (max-width: 400px) {
    .fix{
        min-height: 500px;
    }
    .ao-head h2 {
        font-size: 30px;
    }

    .ao-sectiontwo-1 {
        width: 60%;
        max-height: 400px;
        margin-left: 0;
    }

    .ao-sectiontwo-2 {
        display: none;
    }

    .ao-almatyinfa {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 245px;
    }

    .ao-almatyinfa p {
        font-size: 15px;
        width: 95%;
    }

    .ao-almatyinfa p b {
        font-size: 24px;
    }

    .ao-infa-main {
        display: flex;
        align-content: center;
        gap: 3%;
        margin-left: 0;
    }
}