.footer-main {
    width: 100%;
    padding: 26px 0;
}

footer {
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 30px;
    border-bottom: 1px solid #FF7A00
}

footer .logo {
    margin-bottom: 30px;
}

footer h5 {
    font-size: 20px;
    font-weight: bold;
}

footer div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


footer div a {
    text-decoration: none;
    color: #000000;
}

footer div p {
    font-size: 18px;
    max-width: 230px;
}

.call a {
    text-decoration: none;
    color: #000000;
    display: flex;
    align-items: center;
}

.social-sets {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;
    max-width: 180px;
}

.social-sets img{
    transition: .3s ease;
}

.social-sets img:hover {
    transition: .3s ease;
    filter: brightness(0) saturate(100%) invert(58%) sepia(99%) saturate(1192%) hue-rotate(353deg) brightness(102%) contrast(102%);
}

.support a:hover{
    color: #FF7A00;
    transition: .3s ease;
}

@media screen and (max-width: 700px) {
    .footer-main {
        width: 100%;
        padding: 22px 0;
    }

    footer {
        margin: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 30px;
        border-bottom: 1px solid #FF7A00
    }

    footer .logo {
        margin-bottom: 30px;
    }

    footer h5 {
        font-size: 20px;
        font-weight: bold;
    }

    footer>div {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 20px;
        text-align: center;
    }


    footer div a {
        text-decoration: none;
        color: #000000;
    }

    footer div p {
        font-size: 18px;
        max-width: 230px;
    }

    .call a {
        text-decoration: none;
        color: #000000;
        display: flex;
        align-items: center;
    }

    .social-sets {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 20px;
        max-width: 180px;
    }

    .support {
        margin: 30px 0;
    }
}


@media screen and (max-width: 450px) {
    .footer-main {
        width: 100%;
        padding: 22px 0;
    }

    footer {
        margin: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 30px;
        border-bottom: 1px solid #FF7A00
    }

    footer .logo {
        margin-bottom: 30px;
    }

    footer h5 {
        font-size: 20px;
        font-weight: bold;
    }

    footer>div {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 20px;
        text-align: center;
    }


    footer div a {
        text-decoration: none;
        color: #000000;
    }

    footer div p {
        font-size: 18px;
        max-width: 230px;
    }

    .call a {
        text-decoration: none;
        color: #000000;
        display: flex;
        align-items: center;
    }

    .social-sets {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 20px;
        max-width: 180px;
    }

    .support {
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .support a {
        margin: 10px 0;
    }

    
}