.header-main {
    width: 100%;
    z-index: 1000;
    position: relative;
}

.carousel-control-next, .carousel-control-prev{
    z-index: 0;
}

header {
    margin: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.logo {
    font-size: 40px;
    color: #FF7A00;
}

.navs {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.navs a {
    text-decoration: none;
    color: rgb(25, 24, 24);
    margin: 15px;
}

.navs a:hover{
    text-decoration: none;
    color: #fd922d;
    margin: 15px;
    transition: .3s ease;
}

.navs .active {
    color: #FF7A00;
    font-weight: bold;
}

.navs .inactive {
    color: rgb(25, 24, 24);
}

.navs{
    padding: 0;
}

.navs li {
    list-style: none;
    color: #000000;
    margin-right: 10px;
}


.basket-profile {
    display: flex;
    align-items: center;
    margin-left: 150px;
}

.basket-profile a {
    text-decoration: none;
    color: #000000;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.basket {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid #000000;
    cursor: pointer;
    position: relative;
    transition: 0.5s ease;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basket:hover,
.basket.active {
    border: 1px solid #FF7A00;
    transition: 0.3s ease;
    color: #FF7A00;
}

.shop-menu {
    position: absolute;
    top: 69px;
    right: 30px;
    width: 450px;
    min-height: 100px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 6px 5px 13px -3px rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.basket i {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #ffffff;
    line-height: 20px;
    background: #FF7A00;
    left: 23px;
    top: -12px;
    text-align: center;
    font-weight: bold;
}

.profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #000000;
    cursor: pointer;
}

.profile img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.empty{
    text-align: center;
    color: #2f2f2f;
}

.sum{
    text-align: center;
    color: #FF7A00;
    margin: 5px;
    font-weight: bold;
}

.details-pay{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.btn-next-pay{
    width: 180px;
    height: 30px;
    border-radius: 5px;
    background: #FF7A00;
    color: #ffffff;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: space-around;
}

@media screen and (max-width: 1200px) {
    .basket-profile {
        margin-left: 0;
    } 
}

@media screen and (max-width: 1000px) {
    .shop-menu {
        position: absolute;
        top: 200px;
        left: 0;
        right: 0;
        width: 450px;
        min-height: 100px;
        background: #ffffff;
        border-radius: 10px;
        box-shadow: 6px 5px 13px -3px rgba(0, 0, 0, 1);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media screen and (max-width: 600px) {
    .shop-menu {
        position: absolute;
        top: 250px;
        left: 0;
        right: 0;
        width: 280px;
        min-height: 300px;
        padding: 10px;
        background: #ffffff;
        border-radius: 10px;
        box-shadow: 6px 5px 13px -3px rgba(0, 0, 0, 1);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

@media screen and (max-width: 350px) {
    .shop-menu {
        position: absolute;
        top: 360px;
        left: 0;
        right: 0;
        width: 200px;
        min-height: 100px;
        background: #ffffff;
        border-radius: 10px;
        box-shadow: 6px 5px 13px -3px rgba(0, 0, 0, 1);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}