.item {
    width: 280px;
    height: 380px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 0px #00000040;
    margin: 20px 0;
    position: relative;
}

.item-picture {
    width: 100%;
    height: 180px;
    position: relative;
    border-radius: 10px;
}

.item-picture img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.item-info {
    padding: 20px;
    background: #ffffff;
    position: absolute;
}

.item-info h3 {
    font-size: 18px;
}

.item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.detail-item p {
    margin: 0;
}

.detail-item img {
    margin-right: 10px;
}

.item-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.item-price h4 {
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
    color: #FF7A00;
    margin: 5px 0;
}

.count-stars {
    position: absolute;
    top: 2%;
    left: 2%;
    color: #eaff01;
}

.discount {
    position: absolute;
    right: 0;
    border-radius: 0 10px 0 10px;
    background: #FF7A00;
    text-align: right;
    padding: 10px;
    font-size: 22px;
    color: white;
}

.animate-items {
    bottom: 0;
    top: 50%;
    left: 28%;
    display: flex;
    justify-content: space-around;
    transition: ease 0.3s;
    width: 120px;
    opacity: 0;
    position: absolute;
}

.animate-items div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    transition: 0.3s ease;
    cursor: pointer;
}

.item:hover .animate-items {
    opacity: 1;
    top: 30%;
    transition: ease 0.3s;
}

.animate-items div:hover {
    transition: 0.3s ease;
    background: #f69335;
}

.btndetail {
    width: 150px;
    position: absolute;
    top: 20px;
    left: 5px;
    background: #FF7A00;
    color: #ffffff;
    padding: 8px;
    border-radius: 10px 10px 0 0;
    text-align: center;
    font-weight: normal;
    cursor: pointer;
    transition: .4s ease;
}

.btndetail:hover {
    background: #ffb570;
}

.item:hover .btndetail {
    top: -32px;
}

.activelike {
    color: #000000;
}

@media screen and (max-width: 300px) {
    .item {
        width: 250px;
        height: 350px;
        border-radius: 10px;
        box-shadow: 10px 10px 20px 0px #00000040;
        margin: 30px 0;
        position: relative;
    }
    
    .item-picture {
        width: 100%;
        height: 150px;
        position: relative;
        border-radius: 10px;
    }
    
    .item-picture img {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 10px 10px 0 0;
    }
    
    .item-info {
        padding: 20px;
        background: #ffffff;
        position: absolute;
    }
    
    .item-info h3 {
        font-size: 15px;
    }
    
    .item-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
    }
    
    .detail-item {
        display: flex;
        align-items: center;
        margin: 8px 0;
    }
    
    .detail-item p {
        margin: 0;
    }
    
    .detail-item img {
        margin-right: 10px;
    }
    
    .item-price {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 17px;
        text-align: center;
        font-weight: bold;
    }
    
    .item-price h4 {
        font-family: Roboto;
        font-size: 22px;
        font-weight: bold;
        color: #FF7A00;
        margin: 5px 0;
    }
    
    .count-stars {
        position: absolute;
        top: 2%;
        left: 2%;
        color: #eaff01;
    }
    
    .discount {
        position: absolute;
        right: 0;
        border-radius: 0 10px 0 10px;
        background: #FF7A00;
        text-align: right;
        padding: 10px;
        font-size: 19px;
        color: white;
    }
    
    .animate-items {
        opacity: 1;
        top: 25%;
        left: 28%;
        display: flex;
        justify-content: space-around;
        transition: ease 0.3s;
        width: 120px;
        opacity: 1;
        position: absolute;
    }
    
    .animate-items div {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 5px;
        transition: 0.3s ease;
        cursor: pointer;
    }
    
    .item:hover .animate-items {
        opacity: 1;
        top: 25%;
        transition: ease 0.3s;
    }
    
    .animate-items div:hover {
        transition: 0.3s ease;
        background: #f69335;
    }
    
    .btndetail {
        width: 150px;
        position: absolute;
        top: -32px;
        left: 5px;
        background: #FF7A00;
        color: #ffffff;
        padding: 8px;
        border-radius: 10px 10px 0 0;
        text-align: center;
        font-weight: normal;
        cursor: pointer;
        transition: .4s ease;
    }
    
    .btndetail:hover {
        background: #ffb570;
    }
    
    .item:hover .btndetail {
        top: -32px;
    }
    
    .activelike {
        color: #000000;
    }
    
  }