.bg-description {
    width: 100%;
    height: 400px;
    position: relative;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5326505602240896) 100%, rgba(255, 255, 255, 0.020045518207282953) 100%);
}

.bg-description>img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
}

.description-head {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 55px;
}

.description-head img {
    width: clamp(10vw, 25em, 100vw);
    height: 300px;
    border-radius: 15px;
    box-shadow: 10px 10px 34px -3px rgba(255, 255, 255, 0.75);
}

.description-info {
    width: clamp(10vw, 35em, 100vw);
    height: 250px;
    border-radius: 0 15px 0 15px;
    background: rgb(255, 122, 0);
    background: linear-gradient(90deg, rgba(255, 122, 0, 0.7203256302521008) 100%, rgba(253, 29, 29, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}


.description-info-details {
    position: relative;
}

.description-info-details::before {
    content: "";
    height: 140px;
    width: 2px;
    background: white;
    position: absolute;
    right: -70px;
    top: 25px;
}

.description-info-details div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
    color: rgb(255, 255, 255);
}

.description-info-details h3 {
    margin-left: 20px;
    font-size: 18px;
    font-weight: normal;
}

.description-info-price {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.description-info-price h4 {
    margin: 20px 0;
    color: rgb(251, 255, 24);
    font-size: 20px;
}

.description-info-price b {
    color: rgb(255, 255, 255);
}

.description-info-price h2 {
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.description-info-text {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: normal;
    width: 800px;
}

.description-info-text h2 {
    text-align: center;
}


.description-info-text p {
    margin: 20px 0;
    font-size: 20px;
    line-height: 25px;
}

.description-btn {
    position: absolute;
    top: -100px;
    z-index: 0;
    width: 200px;
    height: 30px;
    background: #ffffff;
    color: #000000;
    text-align: center;
    border-radius: 10px 10px 0 0;
    line-height: 30px;
    cursor: pointer;
    opacity: 0;
    transition: .4s ease;
}

.description-head:hover .description-btn {
    top: -30px;
    opacity: 1;
    transition: .4s ease;
}

@media screen and (max-width: 1000px) {
    .description-info-details::before {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .description-head img {
        display: none;
    }

    .description-info-text {
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 40px;
        font-weight: normal;
        width: 80%;
    }

    .description-info-text h2 {
        text-align: center;
    }

    .description-info-text p {
        margin: 20px 0;
        font-size: 20px;
        line-height: 25px;
    }

    .description-btn {
        position: absolute;
        top: -100px;
        z-index: 0;
        width: 200px;
        height: 30px;
        background: #ffffff;
        color: #000000;
        text-align: center;
        border-radius: 10px 10px 0 0;
        line-height: 30px;
        cursor: pointer;
        opacity: 0;
        transition: .4s ease;
    }

    .description-head:hover .description-btn {
        top: -30px;
        opacity: 1;
        transition: .4s ease;
    }
}


@media screen and (max-width: 600px) {
    .bg-description {
        width: 100%;
        height: 350px;
        position: relative;
        background: rgb(0, 0, 0);
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.5326505602240896) 100%, rgba(255, 255, 255, 0.020045518207282953) 100%);
    }

    .bg-description>img {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -2;
    }

    .description-head {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 60px 10px;
    }

    .description-info {
        height: 250px;
        border-radius: 0 15px 0 15px;
        background: rgb(255, 122, 0);
        background: linear-gradient(90deg, rgba(255, 122, 0, 0.7203256302521008) 100%, rgba(253, 29, 29, 1) 100%);
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
    }


    .description-info-details {
        position: relative;
    }

    .description-info-details div {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 20px 0;
        color: rgb(255, 255, 255);
    }

    .description-info-details h3 {
        margin-left: 20px;
        font-size: 15px;
        font-weight: normal;
    }

    .description-info-price {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .description-info-price h4 {
        margin: 20px 0;
        color: rgb(251, 255, 24);
        font-size: 17px;
    }

    .description-info-price b {
        color: rgb(255, 255, 255);
    }

    .description-info-price h2 {
        color: rgb(255, 255, 255);
        font-size: 27px;
    }

    .description-info-text {
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 40px;
        font-weight: normal;
        width: 90%;
    }

    .description-info-text h2 {
        text-align: center;
        font-size: 22;
    }

    .description-info-text p {
        margin: 20px 0;
        font-size: 17px;
        line-height: 20px;
    }

    .description-btn {
        position: absolute;
        top: -30px;
        z-index: 0;
        width: 200px;
        height: 35px;
        background: #ffffff;
        color: #000000;
        text-align: center;
        border-radius: 10px 10px 0 0;
        line-height: 35px;
        cursor: pointer;
        opacity: 1;
    }
}

@media screen and (max-width: 400px) {
    .bg-description {
        width: 100%;
        height: 350px;
        position: relative;
        background: rgb(0, 0, 0);
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.5326505602240896) 100%, rgba(255, 255, 255, 0.020045518207282953) 100%);
    }

    .bg-description > img {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -2;
    }

    .description-head {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 60px 10px;
    }

    .description-info {
        height: 250px;
        border-radius: 15px;
        background: rgb(255, 122, 0);
        background: linear-gradient(90deg, rgba(255, 122, 0, 0.7203256302521008) 100%, rgba(253, 29, 29, 1) 100%);
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        padding: 10px;
    }


    .description-info-details {
        position: relative;
    }

    .description-info-details div {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 25px 0;
        color: rgb(255, 255, 255);
        font-size: 15px;
    }

    .description-info-details h3 {
        margin-left: 10px;
        font-size: 13px;
        font-weight: normal;
    }

    .description-info-price {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .description-info-price h4 {
        margin: 20px 0;
        color: rgb(251, 255, 24);
        font-size: 15px;
        text-align: center;
    }

    .description-info-price b {
        color: rgb(255, 255, 255);
    }

    .description-info-price h2 {
        color: rgb(255, 255, 255);
        font-size: 20px;
    }

    .description-info-text {
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: normal;
        width: 95%;
    }

    .description-info-text h2 {
        text-align: center;
        font-size: 20px;
    }

    .description-info-text p {
        margin: 20px 0;
        font-size: 15px;
        line-height: 22px;
    }

    .description-btn {
        position: absolute;
        top: -35px;
        z-index: 0;
        width: 180px;
        height: 35px;
        background: #ffffff;
        color: #000000;
        text-align: center;
        border-radius: 10px 10px 0 0;
        line-height: 35px;
        cursor: pointer;
        opacity: 1;
        font-size: 14px;
    }
}