.items-content h2{
  font-size: 30px;
}
.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
    align-items: center;
}

@media screen and (max-width: 600px) {
  .items-content h2{
    font-size: 25px;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .items-content h2{
    font-size: 22px;
    text-align: center;
  }
}
