.main-bg-f {
    background: url("../../public//img/main-bg.png");
    width: 100%;
    height: 590px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-bg-s {
    background: linear-gradient(141deg, rgba(242, 138, 26, 0.4766281512605042) 47%, rgba(242, 138, 26, 0) 100%), url("../../public//img/main-bg-sec.jpg");
    width: 100%;
    height: 590px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -260px;
    margin: 0 10px;
    text-align: left;
    opacity: 1;
}

.carousel-indicators {
    display: none !important;
}

.main-title {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 200px;
    max-width: 70%;
}

.main-title h1 {
    font-size: 45px;
    color: #ffff;
    font-weight: bold;
}

.main-title h5 {
    font-size: 30px;
    color: #ffff;
    font-weight: normal;
    margin: 40px 0;
}

.main-support {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 450px;
}

.main-btn {
    width: 250px;
    height: 43px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background: rgb(40, 196, 255);
    background: linear-gradient(90deg, rgba(40, 196, 255, 1) 0%, rgba(72, 199, 247, 0.76234243697479) 51%, rgba(255, 255, 255, 0.6362920168067228) 100%);
    text-align: center;
    line-height: 43px;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    transition: .2s ease;
}

.main-btn:hover {
    transform: scale(1.1);
    transition: .2s transform ease;
}

.main-support a {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-weight: bold;
}

.main-support a img {
    filter: invert(1);
}

.main-social {
    display: flex;
    flex-direction: column;
}

.main-social a {
    margin: 15px 0;
}

.main-social a img {
    filter: invert(1);
    transition: .3s ease;
}

.main-social a img:hover {
    transition: .3s ease;
    filter: brightness(0) saturate(100%) invert(58%) sepia(99%) saturate(1192%) hue-rotate(353deg) brightness(102%) contrast(102%);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.alert{
    position: fixed;
    top: 0;
    left: 45%;
    z-index: 2000;
}
@media screen and (max-width: 900px) {
    .main-bg-f {
        width: 100%;
        height: 700px;
    }

    .main-bg-s {
        width: 100%;
        height: 640px;
    }

    .main-title {
        height: 200px;
        max-width: 70%;
    }

    .main-title h1 {
        font-size: 35px;
        color: #ffff;
        font-weight: bold;
    }

    .main-title h5 {
        font-size: 20px;
        color: #ffff;
        font-weight: normal;
        margin: 40px 0;
    }

    .main-support {
        max-width: 450px;
        flex-wrap: wrap;
    }

    .main-btn {
        width: 180px;
        height: 38px;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        background: rgb(40, 196, 255);
        background: linear-gradient(90deg, rgba(40, 196, 255, 1) 0%, rgba(72, 199, 247, 0.76234243697479) 51%, rgba(255, 255, 255, 0.6362920168067228) 100%);
        text-align: center;
        line-height: 38px;
        font-size: 18px;
        margin: 10px;
    }

    .main-social {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
}

@media screen and (max-width: 600px) {
    .main-bg-f {
        width: 100%;
        height: 600px;
    }

    .main-bg-s {
        width: 100%;
        height: 600px;
    }


    .main-title {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 200px;
        max-width: 70%;
    }

    .main-title h1 {
        font-size: 30px;
        color: #ffff;
        font-weight: bold;
    }

    .main-title h5 {
        font-size: 18px;
        color: #ffff;
        font-weight: normal;
        margin: 30px 0;
    }

    .main-support {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 400px;
    }

    .main-btn {
        width: 200px;
        height: 38px;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        background: rgb(40, 196, 255);
        background: linear-gradient(90deg, rgba(40, 196, 255, 1) 0%, rgba(72, 199, 247, 0.76234243697479) 51%, rgba(255, 255, 255, 0.6362920168067228) 100%);
        text-align: center;
        line-height: 38px;
        font-size: 18px;
    }
}


@media screen and (max-width: 450px) {
    main {
        display: flex;
        justify-content: space-between;
        position: relative;
        top: -200px;
        margin: 0 10px;
        text-align: left;
        opacity: 1;
    }

    .main-bg-f {
        background: url("../../public//img/main-bg.png");
        width: 100%;
        height: 520px;
    }

    .main-bg-s {
        width: 100%;
        height: 520px;
    }

    .main-title {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 200px;
        max-width: 85%;
    }

    .main-title h1 {
        font-size: 18px;
        color: #ffff;
        font-weight: bold;
    }

    .main-title h5 {
        font-size: 16px;
        color: #ffff;
        font-weight: normal;
        margin: 20px 0;
    }

    .main-support {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 280px;
    }

    .main-support a {
        font-size: 12px;
    }

    .main-social {
        display: none;
    }

    .main-btn {
        width: 200px;
        height: 38px;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        background: rgb(40, 196, 255);
        background: linear-gradient(90deg, rgba(40, 196, 255, 1) 0%, rgba(72, 199, 247, 0.76234243697479) 51%, rgba(255, 255, 255, 0.6362920168067228) 100%);
        text-align: center;
        line-height: 38px;
        font-size: 14px;
        margin: 5px;
    }
}