.profile-content {
    position: relative;
}

.profile-head {
    text-align: center;
    padding: 30px;
    color: #ffffff;
    font-weight: normal;
    font-size: 50px;
}

.profile-head {
    width: 100%;
    background: #FF7A00;
    height: 150px;
}

.profile-foot {
    width: 100%;
    background: #ffffff;
}

.profile-foot-details {
    text-align: center;
    margin: 100px 0;
}

.profile-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #FF7A00;
    position: absolute;
    left: 0;
    right: 0;
    top: 17%;
    margin-left: auto;
    margin-right: auto;
}

.profile-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #ffffff;
}

.profile-titles {
    color: black;
}

.profile-detail {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.profile-detail div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    font-size: 18px;
}

.profile-detail a {
    text-decoration: none;
    color: #FF7A00;
    position: relative;
}

.profile-detail a::after {
    content: "";
    position: absolute;
    left: 10px;
    width: 0;
    height: 2px;
    background: #FF7A00;
    bottom: 0;
    transition: .3s ease;
}

.profile-detail a:hover::after {
    width: 100%;
    transition: .3s ease;
}

.border-between {
    width: 3px;
    height: 35px;
    background: #FF7A00;
    border-radius: 10%;
}

.profile-icons {
    color: #FF7A00;
    font-size: 25px !important;
    margin: 10px;
}

.profile-actions button {
    margin: 10px;
}

.profile-eye {
    top: 94.5%;
    position: absolute;
    right: 10%;
}

@media screen and (max-width: 450px) {
    .profile-detail {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .profile-detail .border-between {
        display: none;
    }
    .profile-foot-details {
        text-align: center;
        margin: 100px 0;
        margin-bottom: 50px;
    }

}