.Reviews {
    background: white;
    width: 100%;
    padding-top: 20px;
}

.review-reviews{
    color: rgb(255, 156, 8);
}

.formReview {
    text-align: center;
}

.formReview p {
    font-size: 40px;
}

.mini-review{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.review-block {
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(15px);
    border: 1px solid #ffffd8;
    padding: 5px 20px;
    margin: 20px;
    position: relative;
}

.review-block p{
    float: right;
}


.review-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.review-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.review-profile {
    display: flex;
    align-items: center;
}

.review-username {
    display: flex;
    flex-direction: column;
}

.review-username strong {
    color: #181717;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.review-username span {
    color: #2f2f2f;
    font-size: 0.9rem;
}

.review-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.review-comment p{
    margin-top: 10px;
    font-size: 1rem;
    color: #000000;
}

.review-comment {
    display: flex;
    justify-content: space-between;
}

.review-scrolldown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.best-reviews{
    max-width: 300px;
    margin: 0 auto;
}

.best-reviews a{
    text-decoration: none;
    color: rgb(50, 50, 50);
}

.pagination{
    margin-bottom: 0;
}

.review-actions{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

.add-comments{
    margin: 70px 0;
}

.editcomment{
    float: right;
}

.delete-comment{
    width: 35px;
    height: 35px;
    border-radius: 10px;
    background: #ffffff;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease;
    position: absolute;
    right: -8%;
    bottom: 15%;
    opacity: 0;
}

.delete-icon{
    color: #000000;
    width: 20px;
    height: 20px;
    transition: .3s ease;
}

.delete-comment:hover{
    background: #FF7A00;
    border: 1px solid #ffffff;
    transition: .3s ease;
}

.delete-comment:hover .delete-icon{
    color: #ffffff;
    transition: .3s ease;
 
}

.review-block:hover .delete-comment{
    right: 8%;
    bottom: 15%;
    opacity: 1;
}

.navs-comments a{
    text-decoration: none;
    color: #000000;
    margin: 15px;
}

.navs-comments a.active{
    text-decoration: none;
    color: #ffa526;
    margin: 15px;
}

.navs-comments a:hover{
    color: #ff9100;
}

.star-fill{
   color: #FF7A00;
   cursor: pointer;
}

.star-none{
    color: #000000;
    cursor: pointer;
}