.search-item {
  width: 50%;
  height: 50px;
  border-radius: 20px;
  background: rgb(40, 196, 255);
  background: linear-gradient(90deg, rgba(40, 196, 255, 1) 0%, rgba(72, 199, 247, 0.76234243697479) 51%, rgba(255, 255, 255, 0.6362920168067228) 100%);
  display: flex;
  align-items: center;
  padding: 0 50px;
  position: relative;
  top: -30px;
  left: 25%;
  box-shadow: 10px 10px 20px 0px #00000040;
}

.search-item input {
  width: 250px;
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-size: 20px;
}

.dropdown-search {
  position: absolute;
  top: calc(90% + 10px);
  left: 0;
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  cursor: pointer;
}

.dropdown-search a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #333333;
  transition: background-color 0.3s;
}

.dropdown-search a:hover {
  background-color: #867d7d;
}

.dropdown-search a:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.dropdown-search div {
  padding: 5px 10px;
  background: linear-gradient(90deg, rgba(40, 196, 255, 1) 0%, rgba(72, 199, 247, 0.76234243697479) 51%, rgba(255, 255, 255, 0.6362920168067228) 100%);
  font-weight: bold;
  display: flex;
}

.dropdown-search div:hover {
  background: #33c1c6;
  color: #ffffff;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .search-item {
    width: 80%;
    height: 50px;
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(40, 196, 255, 1) 0%, rgba(72, 199, 247, 0.76234243697479) 51%, rgba(255, 255, 255, 0.6362920168067228) 100%);
    display: flex;
    align-items: center;
    padding: 0 50px;
    position: relative;
    top: -30px;
    left: 10%;
    box-shadow: 10px 10px 20px 0px #00000040;
  }

  .search-item input {
    width: 250px;
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 20px;
  }

  .dropdown-search {
    position: absolute;
    top: calc(90% + 10px);
    left: 0;
    width: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    cursor: pointer;
  }

  .dropdown-search a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #333333;
    transition: background-color 0.3s;
  }

  .dropdown-search a:hover {
    background-color: #867d7d;
  }

  .dropdown-search a:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .dropdown-search div {
    padding: 5px 10px;
    background: linear-gradient(90deg, rgba(40, 196, 255, 1) 0%, rgba(72, 199, 247, 0.76234243697479) 51%, rgba(255, 255, 255, 0.6362920168067228) 100%);
    font-weight: bold;
    display: flex;
  }

  .dropdown-search div:hover {
    background: #19a4a9;
    color: #ffffff;
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .search-item {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(40, 196, 255, 1) 0%, rgba(72, 199, 247, 0.76234243697479) 51%, rgba(255, 255, 255, 0.6362920168067228) 100%);
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: relative;
    top: -30px;
    left: 2%;
    box-shadow: 10px 10px 20px 0px #00000040;
  }

  .search-item input {
    width: 180px;
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 20px;
  }

  .dropdown-search {
    position: absolute;
    top: calc(90% + 10px);
    left: 0;
    width: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    cursor: pointer;
    font-size: 15px;
  }

  .dropdown-search a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: #333333;
    transition: background-color 0.3s;
  }

  .dropdown-search a:hover {
    background-color: #867d7d;
  }

  .dropdown-search a:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .dropdown-search div {
    padding: 5px 10px;
    background: linear-gradient(90deg, rgba(40, 196, 255, 1) 0%, rgba(72, 199, 247, 0.76234243697479) 51%, rgba(255, 255, 255, 0.6362920168067228) 100%);
    font-weight: bold;
    display: flex;
  }

  .dropdown-search div:hover {
    background: #19a4a9;
    color: #ffffff;
    width: 100%;
  }
}