.Skidka {
    width: 100%;
    background-color: #FFBD80;
    padding-top: 10%;
}

.Skidka-wrap {
   width: 90%;
   margin-left: auto;
   margin-right: auto;
}

.skidka-block {
    background-color: white; 
    border: solid 1px rgb(173, 172, 172);
    width: 400px;
    height: 300px; 
    color: black; 
    border-radius: 1rem; 
}

.skidka-block img {
    width: 100%;
    height: 100%;
    border-radius: 1rem; 
}

.slick-slide > div {
    margin: 0 10px;
}

.slick-dots li.slick-active button:before {
    color:orange !important;
}

.Skidka:hover .slick-prev{
    left: 40px !important;
    opacity: 1 !important;
}

.Skidka:hover .slick-next{
    right: 40px !important;
    opacity: 1 !important;
}
   

.slick-prev{
    position: absolute !important;
    top: 50% !important;
    z-index: 10 !important;
    width: 40px !important;
    height: 40px !important;
    border: 1px solid #e1e1e1 !important;
    border-radius: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    transition: .4s !important;
    background-color: #fff !important;
    left: 80px !important;
    transition: .4s !important;
    opacity: 0 !important;
}

.slick-prev::before{
    content: "";
    background-image: url('../../public/img/arrow-right.png');
    background-size: 100%;
    display: inline-block;
    height: 30px;
    width: 30px;
    font-size: 0 !important;
    transform: rotate(180deg);
}


.slick-next{
    position: absolute !important;
    top: 50% !important;
    z-index: 10 !important;
    width: 40px !important;
    height: 40px !important;
    border: 1px solid #e1e1e1 !important;
    border-radius: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    transition: .4s !important;
    background-color: #e1e1e1 !important;
    right: 80px !important;
    transition: .4s !important;
    opacity: 0;
}
    
.slick-next::before{
    content: "";
    background-image: url('../../public/img/arrow-right.png');
    background-size: 100%;
    display: inline-block;
    height: 30px;
    width: 30px;
    font-size: 0 !important;
}

@media screen and (max-width: 350px) {
    .skidka-block {
        height: 200px;
    }

    .Skidka:hover .slick-prev{
        top: 80% !important;
    }
    
    .Skidka:hover .slick-next{
        top: 80% !important;
    }
}